<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/header') %>
  <main>
    
    <% if (message) { %>
      <h2><%= message %></h2>
    <% } %>
    <div>
    
      
      <% for (let i = 0; i < operations.length; i++) { %>

        <div>
          <p><%= operations[i].concept %></p>
          <p>$ <%= operations[i].amount %></p>
          <p><%= operations[i].date %></p>
          <p><%= operations[i].kind %></p>
          <a href="/editOperation/<%= operations[i].id %>" class="">Editar</a>
          <form action="/delete" method="Post">
            <button type="submit" class="" name="delete" value="<%= operations[i].id %>">Borrar</button>
          </form>
          <br>
          <hr>
        </div>

        <% } %>

    </div>

    <%- include('./partials/list-buttons') %>

  </main>
</body>
</html>
